body{
  font-family: Iran-Sans-Regular1;
  background-color: hsl(0, 8%, 10%);
  overflow: hidden;
  color: #fff;
  direction: rtl;
}

.container{
  padding: 30px;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-2 .row-2::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}

.col-2 .row-2::-webkit-scrollbar-button{
  height: 10px !important;
  background-color: #e2dfd2;
  border-radius: 100px;
}

.col-2 .row-2::-webkit-scrollbar-thumb{
  background-color: #810000;
  border-radius: 50px;
}

.df{
  display: flex;
}

.jcc{
  justify-content: center;
}

.aic{
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 74.5%;
}

.w-50 {
  width: 49%;
}

.w-25 {
  width: 24%;
}


.inputs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  font-family: Iran-Sans-Regular1;
  border: 0;
  font-size: small;
  background-color: #e2dfd2;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  padding: 3px 10px;
  height: 40px;
  margin: 10px 0;
}

input.submit-btn{

  font-family: Iran-Sans-Bold;
  background-color: #810000;
  color: #fff;

}

select {
  font-family: Iran-Sans-Regular1;
  border: 0;
  font-size: small;
  background-color: #e2dfd2;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  padding: 3px 10px;
  height: 40px;
  margin: 10px 0;
}

select option {
  color: #810000;
  font-family: Iran-Sans-Medium;
  font-size: 13px;
}

button:disabled {
  cursor: not-allowed;
}

.col-1{
  width: 45%;
  height: 100%;
  margin: 0 10px;
  background-image: url(../images/Recruitment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.col-2{
  width: 55%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.col-2 .row-1{
  justify-content: right;
  align-items: flex-start;
  font-family: Iran-Sans-DemiBold;
  width: 100%;
  height: 12%;

}

.col-2 .row-1 h1{
  font-family: Iran-Sans-DemiBold;
}

.col-2 .row-1 h1 span{
  padding: 4px 7px;
  border-radius: 10px;
  background-color: #810000;
}

.col-2 .row-2{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 88%;
  padding: 0 0 0 15px;
}

.col-2 .row-2 .record-form{
  width: 100%;
  height: 350vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.col-2 .row-2 .record-form .fieldd{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.personal-info, .further-information, .resume, .educational-background, .familiarity-with-specialized-software, .specialized-courses-provided{
  height: auto;
}

h4.title{
  border-bottom: 3px solid #810000;
}

label{

  font-family: Iran-Sans-Regular1;
  border: 0;
  font-size: small;
  display: flex;
  align-items: center;
  background-color: #e2dfd2;
  color: #878075;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  padding: 3px 10px;
  height: 40px;
  margin: 10px 0;

}