
main section.activity-domain{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 100px;

}
main section.activity-domain .cards{

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
main section.activity-domain .cards .card-1 ,.card-2 ,.card-3 ,.card-4 ,.card-5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1717;
    border-radius: 10px;
    width: 200px;
    height: 320px;
}
main section.activity-domain .cards .card-1 .card-1-image ,.card-2 .card-2-image ,.card-3 .card-3-image ,.card-4 .card-4-image ,.card-5 .card-5-image{
    width: 100%;
    height: 35%;
    border-radius: 10px;
    margin-bottom: 5px;
}
main section.activity-domain .cards .card-1 .card-1-title ,.card-2 .card-2-title ,.card-3 .card-3-title ,.card-4 .card-4-title ,.card-5 .card-5-title{
    font-family: Iran-Sans-Bold;
    font-size: 15px;
}
main section.activity-domain .cards .card-1 .card-1-caption ,.card-2 .card-2-caption ,.card-3 .card-3-caption ,.card-4 .card-4-caption ,.card-5 .card-5-caption{
    font-family: Iran-Sans-Light;
    text-align: justify;
    font-size: xx-small;
}
main section.activity-domain .cards .card-1 .card-1-link ,.card-2 .card-2-link ,.card-3 .card-3-link ,.card-4 .card-4-link ,.card-5 .card-5-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    font-family: Iran-Sans-Regular1;
    font-size: smaller;
    border: 1px solid #fff;
    border-radius: 10px;
}
main section.activity-domain .cards .card-1{
    align-self: flex-end;
}
main section.activity-domain .cards .card-2{
    align-self: flex-start;
}
main section.activity-domain .cards .card-3{
    align-self: flex-end;
}
main section.activity-domain .cards .card-4{
    align-self: flex-start;
}
main section.activity-domain .cards .card-5{
    align-self: flex-end;
}

main section.recruitment{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
main section.recruitment .title .underline{
    width: 220px;
}
main section.recruitment .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background-color: var(--primary-color);
}
main section.recruitment .content img{
    width: 50%;
    height: 100%;
    border-radius: 15px;
}
main section.recruitment .content .description{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
main section.recruitment .content .description h1{
    font-family: Iran-Sans-DemiBold;
    font-size: 40px;
}
main section.recruitment .content .description p{
    font-family: Iran-Sans-Regular1;
    text-align: justify;
    font-size: small;
    width: 50%;
}

main section.photo-gallery{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
main section.photo-gallery .title .underline{
    width: 120px;
}
main section.photo-gallery .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background-color: var(--primary-color);
}
